<h1>New appointment</h1>

<label>Date: <input type="date" min="{{ ac.today | date: 'yyyy-MM-dd' }}" ng-model="newAppt.date" ng-change="ac.getTime(newAppt.date)"></label>
<label>Time: 
	<select ng-model="newAppt.time">
		<option ng-required='true' ng-repeat="time in ac.available" value="{{time}}">{{time+':00'}}</option>
	</select>
</label>
<label>Complaint: <input type="text" ng-model="newAppt.complaint" ng-minlength='10' ng-required="true"></label>
<button ng-click="ac.new_appointment(newAppt)">Add Appointment</button>